/* pages/album/list/list.wxss */

.container {
  padding: 0 30rpx 80rpx;

  background-color: var(--weui-BG-2);
}

// 按钮区
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 36rpx;

  .info {
    font-size: 22rpx;

    color: var(--weui-FG-1);
  }

  .placeholder {
    flex: 1;
  }

  .button {
    font-size: 26rpx;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60rpx;
    margin-left: 16rpx;
    padding: 0 20rpx;

    color: var(--weui-FG-1);
    border-radius: 30rpx;
    background-color: var(--weui-BG-3);

    .icon {
      width: 28rpx;
    }

    .title {
      margin-left: 10rpx;
    }
  }

  .button:first-child {
    margin-left: 0;
  }
}

// 相册列表区
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 30rpx;

  // 单个相册项目
  .item {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 330rpx;
    margin-bottom: 20rpx;

    border: 2rpx solid var(--weui-FG-3);
    border-radius: 10rpx;

    // 封面图部分（包含数字）
    .cover {
      position: relative;

      width: 330rpx;
      height: 330rpx;

      .total {
        font-size: 24rpx;

        position: absolute;
        right: 20rpx;
        bottom: 20rpx;

        padding: 4rpx 10rpx;

        color: var(--weui-WHITE);
        border-radius: 14rpx;
        background-color: var(--weui-FG-1);
      }
    }

    .empty-cover {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--weui-BG-1);

      .iconfont {
        font-size: 80rpx;

        color: var(--weui-FG-2);
      }
    }

    // 相册名称和描述
    .text-area {
      padding: 18rpx 12rpx;

      .name {
        font-size: 30rpx;
      }

      .desc {
        font-size: 24rpx;

        margin-top: 8rpx;

        color: var(--weui-FG-1);
      }
    }
  }
}

.empty-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 800rpx;

  .tips {
    font-size: 28rpx;

    color: var(--weui-FG-1);
  }

  .add {
    margin-top: 100rpx;
  }
}

.weui-footer {
  margin-top: 60rpx;
}
