/* pages/great-day/detail/detail.wxss */

page,
.page {
  background-color: var(--weui-BG-2);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 120rpx 0 80rpx;

  .icon {
    font-size: 120rpx;
  }

  .name {
    font-size: 50rpx;
    font-weight: bold;

    margin-top: 60rpx;
  }

  .date {
    font-size: 28rpx;

    margin-top: 18rpx;

    color: var(--weui-FG-1);
  }

  .days-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // width: 560rpx;

    height: 160rpx;
    margin-top: 80rpx;
    padding: 0 60rpx;

    border-radius: 40rpx;
    background-color: var(--weui-BG-0);

    .text {
      font-size: 32rpx;

      color: var(--weui-FG-1);
    }

    .days {
      font-size: 80rpx;
      font-weight: bold;

      margin: 0 40rpx;
    }

    .positive {
      color: var(--weui-TEXTGREEN);
    }

    .negative {
      color: var(--weui-ORANGE);
    }
  }
}

.button-area {
  position: fixed;
  bottom: 0rpx;

  padding-bottom: calc(40rpx + env(safe-area-inset-bottom));

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 750rpx;
    padding: 0 100rpx;

    .delete {
      color: var(--weui-RED) !important;
    }

    .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      width: 100rpx;
      height: 120rpx;

      color: var(--weui-FG-1);

      .iconfont {
        font-size: 56rpx;
      }

      .text {
        font-size: 28rpx;
      }
    }
  }
}
