.content {
  padding: 56rpx;
  // background-color: bisque;

  .textarea {
    height: 200rpx;
    width: 100%;
    // background-color: #f1f1f1; // todo
    font-size: 32rpx;
  }

  .list {
    margin-top: 30rpx;
    height: auto;
    // background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;

    .item {
      height: 200rpx;
      width: 200rpx;
      margin: 10rpx 10rpx 0 0;
    }

    .icon {
      background-color: #f8f8f8;
    }
  }
}

.button-area {
  margin-top: 100rpx;
}
