// 实时天气
.weather-now {
  padding-bottom: 100rpx;

  .weather-bg {
    background-repeat: no-repeat;
    background-position: 0 5%;
    background-size: 100% auto;

    // 位置条
    .location-bar {
      display: flex;
      align-items: center;
      height: 40px; // 备忘：此处确实是使用 px，非手误
      padding-left: 20rpx;

      .content {
        margin-left: 10rpx;

        .location {
          font-size: 32rpx;
          line-height: 30rpx;
        }

        .update-text {
          font-size: 18rpx;
          margin-top: 6rpx;
          opacity: 50%;
        }
      }

    }

    .weather-detail {
      display: flex;
      justify-content: center;
      margin-top: 200rpx;
      --height: 160rpx;

      .weather-icon {
        width: var(--height);
        height: var(--height);
      }

      .temp {
        font-size: 140rpx;
        line-height: var(--height);
        height: var(--height);
        margin-left: 24rpx;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 40rpx;
        margin-left: 16rpx;
        padding: 30rpx 0 24rpx;

        .degree {
          width: 24rpx;
          height: 24rpx;
          border: 6rpx solid #000;
          border-radius: 50%;
        }

        .text {
          font-size: 36rpx;
        }
      }
    }

    .aqi {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80rpx;
      margin-top: 40rpx;

      .content {
        font-size: 30rpx;
        line-height: 50rpx;
        height: 50rpx;
        padding: 0 26rpx;
        color: #fff;
        border-radius: 25rpx;
      }
    }

    .other {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80rpx;
      margin-top: 200rpx;

      .list {
        display: flex;
        justify-content: space-between;
        border-radius: 20rpx;
        background-color: rgba(0, 0, 0, 5%);

        .item {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 20rpx;
          padding: 0 10rpx;

          .value {
            font-size: 34rpx;
            font-weight: bold;
          }

          .name {
            font-size: 20rpx;
          }
        }
      }
    }
  }
}

// 白天
.day {
  color: #000;

  .sun {
    background-image: linear-gradient(225deg, #fee5ca, #e9f0ff 55%, #dce3fb);

    .weather-bg {
      background-image: none;
    }
  }

  .cloudy {
    background-image: linear-gradient(225deg, #d0dae8, #ccd4df 55%, #a5b3c5);

    .weather-bg {
      background-image: url("https://static.lifehelper.com.cn/qweather/bg/cloudy_day.png");
    }
  }

  .rain {
    background-image: linear-gradient(225deg, #dbebff, #dde5f4 55%, #becddd);

    .weather-bg {
      background-image: url("https://static.lifehelper.com.cn/qweather/bg/rain_day.png");
    }
  }

  .snow {
    background-image: linear-gradient(225deg, #d2f0fd, #e6f8fe 55%, #d6eded);

    .weather-bg {
      background-image: url("https://static.lifehelper.com.cn/qweather/bg/snow_day.png");
    }
  }

  .haze {
    background-image: linear-gradient(225deg, #b29c82, #ded9d7 64.29%, #d9d7dc);

    .weather-bg {
      background-image: url("https://static.lifehelper.com.cn/qweather/bg/haze_day.png");
    }
  }
}

// 夜晚
.night {
  color: #fff;

  .sun {
    background-image: linear-gradient(225deg, #2a427f, #1b2751);
  }

  .cloudy {
    background-image: linear-gradient(225deg, #8089a5, #424c66);

    .weather-bg {
      background-image: url("https://static.lifehelper.com.cn/qweather/bg/cloudy_night.png");
    }
  }

  .rain {
    background-image: linear-gradient(225deg, #2c4a77, #1f3b59);

    .weather-bg {
      background-image: url("https://static.lifehelper.com.cn/qweather/bg/rain_night.png");
    }
  }

  .snow {
    background-image: linear-gradient(225deg, #18779e, #0d3f54);

    .weather-bg {
      background-image: url("https://static.lifehelper.com.cn/qweather/bg/snow_night.png");
    }
  }

  .haze {
    background-image: linear-gradient(225deg, #8f8d52, #2b333c);

    .weather-bg {
      background-image: url("https://static.lifehelper.com.cn/qweather/bg/haze_night.png");
    }
  }
}

.aqi {
  .level-1 {
    background-color: #95b359;
  }

  .level-2 {
    background-color: #a9a538;
  }

  .level-3 {
    background-color: #e0991d;
  }

  .level-4 {
    background-color: #d96161;
  }

  .level-5 {
    background-color: #a257d0;
  }

  .level-6 {
    background-color: #d94371;
  }
}
