@import '../../assets/styles/weather2.scss';

.page {
  padding-bottom: 100rpx;
}

// 实时天气
.weather-now {
  padding-bottom: 100rpx;

  // 地理位置条
  .location-bar {
    position: relative;

    display: flex;
    align-items: center;

    height: 40px;
    padding-left: 20rpx;

    .location-name {
      font-size: 32rpx;
      line-height: 32rpx;

      position: relative;
      top: 1px;

      margin-left: 16rpx;
    }

    .location-icon {
      margin-left: 10rpx;
    }
  }

  .weather-detail {
    display: flex;
    justify-content: center;

    --height: 160rpx;
    margin-top: 200rpx;

    .weather-icon {
      width: var(--height);
      height: var(--height);
    }

    .temp {
      font-size: 160rpx;
      line-height: var(--height);

      height: var(--height);
      margin-left: 30rpx;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-right: 40rpx;
      margin-left: 16rpx;
      padding: 30rpx 0 24rpx;

      .degree {
        width: 24rpx;
        height: 24rpx;

        border: 6rpx solid #000;
        border-radius: 50%;
      }

      .text {
        font-size: 36rpx;
      }
    }
  }

  .aqi {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80rpx;
    margin-top: 40rpx;

    .content {
      font-size: 30rpx;
      line-height: 50rpx;

      height: 50rpx;
      padding: 0 26rpx;

      color: #fff;
      border-radius: 25rpx;
    }
  }

  .other {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80rpx;
    margin-top: 240rpx;

    .list {
      display: flex;
      justify-content: space-between;

      border-radius: 20rpx;
      background-color: rgba(0, 0, 0, 5%);

      .item {
        display: flex;
        align-items: center;
        flex-direction: column;

        margin: 20rpx;
        padding: 0 10rpx;

        .value {
          font-size: 34rpx;
          font-weight: bold;
        }

        .name {
          font-size: 20rpx;
        }
      }
    }
  }
}

// 天气灾害预警模块
.warning-now {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 20rpx;
  padding: 0 26rpx;

  .item {
    display: flex;
    align-items: center;

    width: auto;
    margin-top: 26rpx;

    .warning-title {
      font-size: 24rpx;

      margin-left: 16rpx;
    }
  }
}

// 今明两天天气
.forecast-2days {
  font-size: 32rpx;

  display: flex;
  justify-content: space-between;

  padding: 26rpx 0;

  color: var(--weui-FG-0);
  background-color: var(--weui-BG-1);

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 375rpx;
    padding: 0 30rpx;

    .line {
      display: flex;
      justify-content: space-between;

      .text {
        font-size: 30rpx;
      }

      .aqi {
        font-size: 26rpx;
        line-height: 40rpx;

        height: 40rpx;
        padding: 0 30rpx;

        border-radius: 20rpx;
      }
    }

    .line:first-child {
      margin-bottom: 14rpx;
    }
  }

  .item:first-child {
    border-right: 2rpx solid var(--weui-FG-2);
  }
}

// 标题头
.title {
  font-size: 30rpx;
  font-weight: bold;
  line-height: 90rpx;

  height: 90rpx;
  margin-top: 16rpx;
  padding: 0 26rpx;

  border-bottom: 2rpx solid var(--weui-FG-2);
  background-color: var(--weui-BG-1);
}

// 逐小时预报
.weather-hourly {
  background-color: var(--weui-BG-1);

  .content {
    .scroll {
      .wrapper {
        width: 2300rpx;
        padding: 10rpx;

        .top,
        .bottom {
          display: flex;
          justify-content: space-between;
        }

        .middle {
          .f24h-canvas {
            width: 100%;
            height: 160rpx;
          }
        }

        .item {
          display: flex;
          align-items: center;
          flex-direction: column;

          width: 80rpx;
          padding: 16rpx 0;

          .time-text {
            font-size: 26rpx;

            color: var(--weui-FG-1);
          }

          .icon {
            width: 62rpx;
            height: 62rpx;
            margin-top: 14rpx;
          }

          .text {
            font-size: 30rpx;

            margin-top: 20rpx;
          }

          .wind-dir {
            font-size: 24rpx;

            margin-top: 20rpx;
          }

          .wind-scale {
            font-size: 20rpx;

            margin-top: 8rpx;

            color: var(--weui-FG-2);
          }
        }
      }
    }
  }
}

.weather-daily {
  background-color: var(--weui-BG-1);

  .content {
    .scroll {
      .wrapper {
        display: flex;
        justify-content: space-between;

        width: 1800rpx;
        padding: 12rpx 20rpx;

        .item {
          display: flex;
          align-items: center;
          flex-direction: column;

          width: 80rpx;
          padding: 16rpx 0;

          .date {
            font-size: 26rpx;

            margin-top: 2rpx;

            color: var(--weui-FG-1);
          }

          .icon {
            width: 62rpx;
            height: 62rpx;
          }

          .text {
            font-size: 30rpx;

            margin-top: 20rpx;
            margin-bottom: 10rpx;

            white-space: nowrap;
          }

          .temp {
            font-size: 32rpx;

            margin: 16rpx 0;
          }

          .temp-bar {
            width: 14rpx;
            height: 200rpx;

            border-radius: 7rpx;
            background-color: var(--weui-BG-0);

            .temp-body {
              border-radius: 7rpx;
              background-image: linear-gradient(0deg, #427bff, #f18360);
            }
          }

          .wind-dir {
            font-size: 24rpx;

            margin-top: 20rpx;
          }

          .wind-scale {
            font-size: 20rpx;

            margin-top: 8rpx;

            color: var(--weui-FG-2);
          }

          .aqi {
            font-size: 22rpx;
            line-height: 32rpx;

            height: 32rpx;
            margin-top: 20rpx;
            padding: 0 18rpx;

            white-space: nowrap;

            border-radius: 14rpx;
          }
        }
      }
    }
  }
}
