.profile {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  padding-left: 50rpx;
  padding-bottom: 40rpx;
}

.profile .avatar image {
  width: 120rpx;
  height: 120rpx;
  border-radius: 10rpx;
}

.profile .info {
  margin-left: 30rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 360rpx;
}

.profile .info .nickname {
  font-size: 38rpx;
  font-weight: bold;
}

.profile .info .desc {
  color: #7c7c7c;
  font-size: 30rpx;
}

mp-cell {
  font-size: 1000rpx;
  font-weight: bold;
}

mp-cell image {
  margin-right: 16px;
  vertical-align: middle;
  width: 40rpx;
  height: 40rpx;
}
