/* pages/album/detail/detail.wxss */

.container {
  // 按钮区
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 36rpx;

    .info {
      font-size: 22rpx;

      color: var(--weui-FG-1);
    }

    .placeholder {
      flex: 1;
    }

    .button {
      font-size: 26rpx;

      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 60rpx;
      margin-left: 16rpx;
      padding: 0 20rpx;

      color: var(--weui-FG-1);
      border-radius: 30rpx;
      background-color: var(--weui-BG-3);

      .icon {
        width: 28rpx;
      }

      .title {
        margin-left: 10rpx;
      }
    }

    .button:first-child {
      margin-left: 0;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 22rpx;

    .item {
      overflow: hidden;

      margin: 10rpx 0 0 8rpx;

      border-radius: 8rpx;

      .image {
        position: relative;

        width: 170rpx;
        height: 170rpx;

        .icon {
          position: absolute;
          z-index: 10;
          top: calc(50% - 30px);
          left: calc(50% - 30px);
        }
      }
    }
  }
}

// 空列表情况
.empty-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 80rpx;

  background-color: var(--weui-BG-2);

  .iconfont {
    font-size: 240rpx;

    margin-top: 200rpx;

    color: var(--weui-FG-2);
  }

  .tips {
    font-size: 28rpx;

    margin-top: 20rpx;
  }

  .add {
    margin-top: 60rpx;
  }

  .delete {
    font-size: 22rpx;

    margin-top: 300rpx;

    color: var(--weui-RED);
  }
}
