/* pages/album/detail/detail.wxss */

.container {
  padding: 0 20rpx;

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 22rpx;

    .item {
      overflow: hidden;

      margin: 10rpx 0 0 8rpx;

      border-radius: 8rpx;

      .image {
        position: relative;

        width: 170rpx;
        height: 170rpx;

        .icon {
          position: absolute;
          z-index: 10;
          top: calc(50% - 30px);
          left: calc(50% - 30px);
        }
      }
    }
  }
}
