@import '/assets/styles/iconfont.wxss';

page,
.page {
  background-color: var(--weui-BG-0);
  color: var(--weui-FG-0);
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  font-size: 32rpx;
  line-height: 1.4;
  height: 100%;
  min-height: 100%;
}

image {
  max-width: 100%;
  max-height: 100%;
}

view,
image,
text,
navigator {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 单行文本缩略 */
.text-ellipsis-l1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 通用 view 组件 按下去的样式 */
.hover {
  opacity: 0.3;
}
