@import '/assets/styles/iconfont.wxss';

/* 页面根元素 */
page {
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  font-size: 32rpx;
  line-height: 1.41176471;
  min-height: 100%;
  color: var(--weui-FG-0);
  background-color: #fff;

  /* 常用颜色变量 */
  --color-RED: #fa5151;
  --color-ORANGE: #fa9d3b;
  --color-YELLOW: #ffc300;
  --color-GREEN: #91d300;
  --color-LIGHTGREEN: #95ec69;
  --color-BRAND: #07c160;
  --color-BLUE: #10aeff;
  --color-INDIGO: #1485ee;
  --color-PURPLE: #6467f0;
  --color-WHITE: #fff;
  --color-weixin: #07c160;
  --color-text-link: #576b95;
}

image {
  max-width: 100%;
  max-height: 100%;
}

view,
image,
text,
navigator {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 单行文本缩略 */
.text-ellipsis-l1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
